.team-list-header {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  align-items: center;
}

.team-list-header p {
  font-size: 1.1rem;
  color: white;
}

.search-input {
  height: 25px;
  width: 50%;
  border-radius: 4px;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.err-msg {
  color: rgb(175, 6, 6);
  text-align: center;
}

.team-element {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 49%;
  animation-name: entering-left;
  animation-duration: 1s;
  border: solid white 1px;
}

.team-element:nth-child(4n-1) {
  background-color: #224586;
  animation-name: entering-right;
  animation-duration: 1s;
}

.team-element:nth-child(4n-2) {
  background-color: #224586;
  animation-name: entering-right;
  animation-duration: 1s;
}

.link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.right-arrow {
  margin-top: 5px;
  margin-right: 5px;
  align-self: flex-end;
}

.team-element p {
  margin-top: 0;
  margin-bottom: 5px;
}

.team-element img {
  width: 150px;
  height: 150px;
  align-self: center;
}

@keyframes entering-right {
  from {
    transform: translate(500px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes entering-left {
  from {
    transform: translate(-500px);
  }

  to {
    transform: translate(0);
  }
}
